@import url(./reset.css);

.ip-btn {
    display: block;
    background-color: rgb(145, 234, 132);
    border: 1px solid black;
    padding: 10px 40px;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
    margin: 10px auto;
}

.ip-info {
    text-align: center;
    color: white;
    max-width: 500px;
    background-color: rgb(105, 105, 200);
    border-radius: 25px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
}

.ip-property {
    font-weight: 700;
    color: black;
}